{% load static %}
{% static 'media/doctors/dr.jpeg' as doctor_fallback %}

{% for doctor in doctors %}
<div class="doctor-card">

    {% if doctor.profile_image %}
        <img src="{% static'images/dr.jpeg'% }"
             alt="{{ doctor.full_name }}"
             onerror="this.onerror=null;this.src='{{ doctor_fallback }}';">
    {% else %}
        <img src="{{ doctor_fallback }}"
             alt="{{ doctor.full_name }}">
    {% endif %}

    <h2>{{ doctor.full_name }}</h2>

    <p>{{ doctor.designation }}</p>

    <p>{{ doctor.qualifications }}</p>

    <a href="{% url 'about' %}">
        View Doctor
    </a>

</div>
{% empty %}
<p>No doctors available.</p>
{% endfor %}